:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);
    --Font-size: 13px;
    --Family: "Manrope";
    --light-weight: 500;
    --bold-weight: 700;
}
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: var(--Font-size);
    font-family: var(--Family),sans-serif;
    font-weight: var(--bold-weight);
}
body {
    background-color: var(--Light-Grayish-Blue);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    max-width: min(90%, 500px);
    margin: 10vh 0;
}
#drawer {
    width: min(100%, 500px);
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}
h3 {
    font-size: 1.6rem;
    color: var(--Very-Dark-Grayish-Blue);
}
p {
    font-size: 1.03rem;
    color: var(--Desaturated-Dark-Blue);
    font-weight: var(--light-weight);
}
#profile-pic {
    border-radius: 50%;
    width: 40px;
}
section {
    padding:0.8rem 2.5rem;
    padding-bottom: 1.4rem;
    width: 100%;
}
.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.profile {
    display: flex;
    align-items: center;
    gap: 2rem;
    position: relative;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.2rem;
}
.share {
    margin-left: auto;
    padding: 0.7rem;
    border-radius: 50%;
    background-color: var(--Light-Grayish-Blue);
    position: relative;
    z-index: 2;
    cursor: pointer;
}
.share-click {
    background-color: var(--Desaturated-Dark-Blue);
}
#username {
    font-size: 1rem;
}
#date {
    color: var(--Grayish-Blue);
    font-weight: var(--light-weight);
}
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
.share-links {
    display: none;
    align-items: center;
    gap: 1rem;
    background-color: var(--Very-Dark-Grayish-Blue);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    bottom: 0;
    border-radius: 0 0 10px 10px;
    padding: 0.8rem 2.5rem;
}
.svg-color {
    fill: var(--Desaturated-Dark-Blue);
}
.svg-color-click {
    fill: var(--Light-Grayish-Blue);
}
.share-h3 {
    font-weight: var(--light-weight);
    letter-spacing: 5px;
    font-size: 1rem;
    color: var(--Light-Grayish-Blue);
}
.flex {
    display: flex;
}
@media (min-width: 850px) {
    main {
        flex-direction: row;
        max-width: 90%;
        gap: 0;
    }
    #drawer {
        max-width: 400px;
        border-radius: 10px 0 0 10px;
    }
    .share-links {
        height: 100%;
        left: -80px;
        top: -50px;
        border-radius: 5px;
        width: 190px;
        padding: 0.8rem 1rem;
    }
    .triangle {
        position: absolute;
        left: 45%;
        top: 35px;
        border: 10px solid transparent;
        border-top-color: var(--Very-Dark-Grayish-Blue);
    }
    .container {
        gap: 1.5rem;
    }
}
@media (min-width: 1000px) {
    main {
        max-width: max(60%, 800px);
    }
    #drawer {
        width: 400px;
    }
    .info > p {
        margin-top: 30px;
    }
}